@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');
.App {
  /* text-align: center; */
  color: 2C2C2C;
  font-family: 'Work Sans', sans-serif;
  display: flex;
}

@media(max-width: 1000px){
  .App {
    flex-direction: column;
    justify-self: center;
    align-self: center;
  }
 

}
body {
  background-color: #EBEBEB;
  /* display: flex; */

}

.btn {
  background: #5E51E1;
color: white;
  font-family: 'Work-Sans', sans-serif;
  width: 10vw;
  border-radius: 25px;
  border: none;
  padding: .5em;
  font-weight: 600;
  margin: auto
}

.btn:hover {
  cursor: pointer !important;
  text-decoration: underline; }


.page--title {
  margin-bottom: 1em;
  font-size: x-large;
  color: gray;
}


.App-link {
  color: #09d3ac;
}

input[type="radio"] {
  display: none
}



input.filter {
  background-color: white;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
}



.card--link{
  color: black;
  transition-duration: .25s;
  text-decoration: none;
}

.card--link:hover{
  color: rgb(77,124,245);
  text-decoration: underline;
  transition-duration: .25s;
}

.hidden {
  display: none;
}

.error{
  color: red
}

.container--title {
  text-align: center;
  font-size: 20pt;
}

.empty--state {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto
}

.submit--btn {
  border: none;
  color: white;
  background: rgb(77,124,245);
background: linear-gradient(180deg, rgba(77, 125, 245) 0%, rgba(122,49,216) 100%);
  font-size: x-small;
  font-family: archivo;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: .5em 1em;
  /* font-weight: 600; */
  /* letter-spacing: .1em; */
  margin: 1em 0;
  transition-duration: .5s;

}

.submit--btn:hover{
  color: black;
  background: rgb(77,124,245);
background: linear-gradient(180deg, rgba(77, 125, 245, 0.219) 0%, rgba(122,49,216,.2191) 100%);
  cursor: pointer;
  transition-duration: .5s;
}

.login--container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2em 8em;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

}

.asia {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 102, 0);
}

.africa {
  color: rgba(238, 5, 238, 0.87);
  text-decoration: none;
  text-transform: uppercase;

}

.central {
  color: rgba(30, 65, 221, 0.87);
  text-decoration: none;
  text-transform: uppercase;
}

.south{
  color: rgba(221, 43, 30, 0.87);
  text-decoration: none;
  text-transform: uppercase;
}

.roaster{
  /* color: white; */
  /* -webkit-text-stroke: 1px black; */
  letter-spacing: .2em; 
}

.coffee--info {
  margin: 1em 0;
  line-height: 1.5;
  font-size: small;
  width: 100%;
}

.profile--filter {
  border: none;
  background-color:#EBEBEB;
  font-family: 'Work-Sans', sans-serif;
  letter-spacing: 1.4pt;
  width: 100%;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding: 1em .5em ;
  border-radius: 8px;
  margin: .5em .5em;
  text-align: left;
  transition-duration: .5s;

}

.profile--filter:hover{
  background-color: rgb(181, 231, 247);
  background: rgb(77,124,245);
  background: linear-gradient(180deg, rgba(77, 125, 245, 0.219) 0%, rgba(122,49,216,.2191) 100%);
  transition-duration: .5s;
  cursor: pointer;
}

.form{
  transition-duration: .5s;
  background-color: white;
  width: 50vw;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.flex--row{
  display: flex;
  justify-content: space-between;
  
}

.fit{
  margin-top: 1em;
  width: 20vw
}

label, input[type="date" i] {
  font-family: 'Work-Sans', sans-serif;
}
