.nav-items{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto
}

.header {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 90vh;
    bottom: 1em;
    position: sticky;
    top: 1em;
    border-radius: 10px;
    padding: 1em 0px;
    margin: 1em;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-content: flex-start;
    text-align: center;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0 !important;
}

.nav--filter {
    padding: 0 0em;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.nav--filter a {
    transition-duration: .5s;
    color: inherit;
    text-decoration: none;
}

.nav-item:hover {
    transition-duration: 5s !important;
    cursor: pointer;
    text-decoration: underline;
}

.nav--links{
margin: 1em 0;
}

.nav--filter{
    border: none;
    width: 10vw;
    font-weight: 400;
    margin: 1em;
    padding: .25em 3em ;
    border-radius: 8px;
    transition-duration: .5s;
    text-decoration: none;
}

.nav--filter:hover{
    background-color: rgb(181, 231, 247);
    background: rgb(77,124,245);
    background: linear-gradient(180deg, rgba(77, 125, 245, 0.219) 0%, rgba(122,49,216,.2191) 100%);
    transition-duration: .5s;
    cursor: pointer;
}

.gradient {
    color: rgb(77,124,245);
    background: linear-gradient(180deg, rgba(77, 125, 245,) 0%, rgba(122,49,216,) 100%);
}


.nav--icon{
    margin-right: 1.5em;
}

@media(max-width: 1000px){
    .header{
        height: 30vh;
        padding: none;
        flex-direction: row;
    }

    .nav-items{
        flex-direction: row;
    }
    .nav--filter{
        padding: none;
        margin: none;
    }

    .hr{
        display: none;
    }
}