.explore--view {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 2em .5em;
    width: 100vw;
    /* margin: 0 5vw; */
}
.explore--filters{
    display:flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: fit-content;
    top: 1em;
    position: sticky;
    flex-basis: 20%;
    margin: 5% 0;
    position: sticky;
}

.filter{
    width: 100% !important;
    margin: 1em;

}

select.filter{
    background-color: white;
    border: none;
    border-radius: 8px;
}
.explore--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2vw;
    flex-basis: 75%;
    /* padding: .5em; */
    width: 100vw;
}

.explore--card {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 4px;
    margin: 1em 0;
}

.EC--header {
    display: flex;
    padding: 1.5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: space-between;
  
}

.EC--User {
    margin-left: .5em;
}

.EC--UserHeader{
    display: flex;
}

.EC--subheader {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.EC--controls {
    display: flex;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    justify-content:  space-between;
}

.EC--content {
    padding: 1.5%;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
}

.EC--notes {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
    padding-bottom: 1.5%;
    padding: 1em;
}

.small--dd{
    width: 10em;
}

.comment--section {
    padding: 1.5%
}

.EC--rating {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.EC--ratingDisplay {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.EC--ratingForm {
    display: flex;
    align-items: center;
}

.EC--arrow {
    margin-left: .5em;
}

.EC--arrow:hover {
   cursor: pointer;
}

.EC--sort {
    display: flex;
    justify-content: space-between;
    /* width: 25%; */
}

 .EC--sortDD {
   width: 8vw;
   border: none;
   box-shadow: none !important;
   background-color:  #EBEBEB;
   /* background-color: #F6F5F3; */
   height: 100%;
}

.EC--sortDD:hover {
    cursor: pointer;
    
}
.comment--pair {
    display: flex;
    align-items: center;
}

.profile--username {
    padding: .5em;
    font-size: x-large;
}

.EC--recipie{
    Padding: 1em;
}