.card--controls {
    color: gray;
    font-size: small;
}

.card--controls:hover {
    cursor: pointer;
    text-decoration: underline;
}

.timer{
    text-align: center;
    padding-bottom: 5%;
    border: 1px solid black;  
    max-width:  200px;
    margin: auto;
    margin-bottom: 2em;
}

