.card--controls {
    display: felx;
    flex-wrap: nowrap;
}

.card--control {
    color: gray;
    font-size: small;

}
.card--control:hover {
    cursor: pointer;
    text-decoration: underline;
}

.timer{
    text-align: center;
    padding-bottom: 5%;
    max-width: 100%;
    margin: auto;
}

.timer-time {
    background-color: white;
    
}

.form {
    display: flex;
    flex-direction: column;
}

.formTitle {
    text-align: center;
}

.btn {
    border: none;
    background-color: #F6F5F3;
    font-family: Archivo;
    color: #522E1F;
}

.btn:hover {
    cursor: pointer !important;
    text-decoration: underline; }

fieldset {
    border: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    border: none;
    background-color: #F6F5F3;
    font-family: Archivo;
    color: #522E1F !important;
    border-bottom: 2px solid #522E1F;
    width: 100%;
}

input::placeholder{
    color: #522E1F;
}


textarea {
    background-color: #F6F5F3;
    border: none;
    font-family: Archivo;
    color: #F6F5F3;
    border-bottom: 2px solid #522E1F;
    width: 100%;
}

textarea::placeholder{
    color: #522E1F

}

select {
    border: none;
    background-color: #F6F5F3;
    color: #522E1F;
    font-family: Archivo;
    border-bottom: 1px solid #522E1F;
    width: 100%;
}

option {
    background-color: white;
}