.center {
    margin: auto
}

.add--grinder{
    margin: auto;
    min-width: 72vw;
    min-height: 100%;
    background-color: whtie;
    transition-duration: .5s;
}
.add--grinder:hover{
    background-color: white;
    transition-duration: .5s;
}

.grinder--form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grinder--card {
    padding: 1em .5em;
}

.disabled{
    color: gray;
    font-style: italic;
}

.enabled{
    color:  #5E51E1;
}