.comment {
    font-family: Arial, Helvetica, sans-serif;
    margin: .5em 0;
   
}

.comment--content{
    display:flex;
    align-items: center;
    font-size: small;
}

.userComment--content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: small;
    justify-content: flex-start;
}

.comment--text {
    display: flex;
    justify-content: space-evenly;
    margin-left: .5em;
    margin-right: .5em; 
    border-radius: 20px;
    background-color: rgb(226, 217, 205);
    padding: .5em;
    display: flex;
    align-items: center;
    margin-bottom: .5em;

}

.comment--user {
    font-family: Archivo;
    margin-right: .5em;
}
.comment--date {
    font-size: xx-small;
    color: black;
}

.userComment--date {
    font-size: xx-small;
    color: black;
    text-align: end;
}

.comment--input {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: .25em;
}