.comment {
    font-family: Arial, Helvetica, sans-serif;
    margin: .5em 0;
   
}

.comment--content{
    display:flex;
    align-items: center;
    font-size: small;
}

.comment--text {
    margin-left: .5em;
    border-radius: 20px;
    background-color: rgb(226, 217, 205);
    padding: .5em;
    display: flex;

}
.comment--date {
    font-size: x-small;
    color: black;
}