.comment {
    font-family: Arial, Helvetica, sans-serif;
    margin: .75em 0;
    min-width: 100%;
    
   
}

.comment--content{
    display:flex;
    align-items: center;
    font-size: small;
}

.userComment--content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: small;
    justify-content: flex-start;
}

.comment--text {
    display: flex;
    justify-content: space-evenly;
    margin-left: .5em;
    margin-right: .5em; 
    border-radius: 20px;
    background-color: rgb(226, 217, 205);
    padding: .5em;
    display: flex;
    align-items: center;
    margin-bottom: .5em;

}

.comment--user {
    font-family: Archivo;
    margin-right: .5em;
}
.comment--date {
    font-size: xx-small;
    color: black;
}

.userComment--date {
    font-size: xx-small;
    color: black;
    text-align: end;
    margin-left: .5em;
}

.comment--input {
    background-color: rgba(240, 240, 240, 0.664);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: .25em;
    width: 90%;
}

.comment--controls{
    display:flex;
   
    /* justify-content: space-evenly; */
    width: 50%;
    align-items: flex-end;
    font-size: xx-small;
}

.comment--footer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.comment--control:hover {
    text-decoration: underline;
    cursor: pointer;
}